*.vscode
*.sdf
*.opensdf
*.pdb
*.ilk
*.exp
*.user
*.suo
*.log
*.ldb
*.DS_Store
*.code-workspace
*.pyc
*.dmp
*.obj
*.tlog
*.idb
*.exe
*.vs
*.pch
*/Debug
*.vs

/engine/ParticleSystem/iOS/Particle/Particle.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/engine/ParticleSystem/iOS/Particle/Particle.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
/engine/ParticleSystem/iOS/Particle/Particle/Assets.xcassets/Contents.json
